{% extends 'base_generic.html' %}
{% block title %} Criar Campanha {% endblock %}
{% load static %}
{% block content %}
<div class="container">
    <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Campanhas Ativas</h1>
</div>

<div class="row">
    {% for campanha in campanhas %}
    <div class="col-lg-4 col-md-4 project-wrap">
        <div class="single-project">
            <div class="content">
                <a href="#" target="_blank">
                  <div class="content-overlay"></div>
                       <img class="content-image img-fluid d-block mx-auto" src="{{ campanha.foto.url }}" alt="ten">
                </a>
             </div>
        </div>
        <p class="caption">{{ campanha.valor_arrecadado_perc }}% arrecadado</p>
        <div class="progress custom-progress-success">
            <div class="progress-bar bg-success" role="progressbar" style="width: {{ campanha.valor_arrecadado_perc }}%" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <div class="prices d-flex justify-content-between">
            <p><strong>ARRECADADO:</strong><span class="money"> R${{ campanha.valor_arrecadado }}</span></p>
            <p><strong>NECESSÁRIO:</strong><span class="money"> R${{ campanha.valor_necessario }}</span></p>
        </div>
        <div class="details">
            <h2 class="titles">{{ campanha.nome }}</h2>
            <p>{{ campanha.descricao }}</p>
        </div>
        <p><a href="{% url 'doar_campanha' campanha.id %}" class="btn btn-success">Doar agora!</a></p>
    </div>
    {% endfor %}
</div>
<br><br>


{% endblock %}