{% extends "registration/login_base.html" %}
{% load static %}
{% block content %}

<div class="signup-form">

    {% if form.errors %}
        <div class="alert alert-danger" role="alert">
        Houve um erro ao criar seu usuário. Por favor, veja as mensagens abaixo.
        </div>
    {% endif %}

    <form class="" novalidate action="{% url 'register' %}" method="post">
        <h1 class="h3 mb-3 font-weight-normal" style="text-align: center">Cadastre-se</h1>
        {% csrf_token %}
        {% for field in form %}
        <div class="">
            {{ field }}
        </div>
        <span class="text-danger">{{ field.errors }}</span>
        {% endfor %}
        <button class="btn btn-primary btn-block" type="submit"><i class="fas fa-user-plus"></i> Criar conta</button>
        <a href="{% url 'login' %}" id="cancel_signup"><i class="fas fa-angle-left"></i> Voltar</a>
    </form>

<script>
  $('.cpf').mask('000.000.000-00', {reverse: true});
</script>
{% endblock %}